#game {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-area: 90px;
    transform: translateY(12%);
}

#game .container {
    margin-left: 10%;
    margin-right: 10%;
}

#game .container .title {
    text-align: center;
}

#game #canvas {
    border: 10px solid #CCCCCC;
    height: 500px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 500px;
}